<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872425869228-csem9j0c1tb8t1jps88c03rrn2cilr2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872425869228-csem9j0c1tb8t1jps88c03rrn2cilr2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCg3LZmyaybTTg8eCCpmSD20OZZqQGqBJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>872425869228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ruslan-Sadykov.CreateParty</string>
	<key>PROJECT_ID</key>
	<string>createparty-19f0e</string>
	<key>STORAGE_BUCKET</key>
	<string>createparty-19f0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872425869228:ios:86c6ef527f88f68e0af409</string>
	<key>DATABASE_URL</key>
	<string>https://createparty-19f0e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>